body {
  background-color: rgb(12, 8, 27);
}
header {
  position: relative;
  height: 4rem;
  padding: 1rem;
  color: gray;
  display: flex;
  background-color: rgb(12, 8, 27);
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 7px 9px -4px rgba(0, 0, 0, 0.2);
}
header .percentbtn {
  border: 3px solid rgb(26, 190, 190);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  color: rgb(26, 190, 190);
}
.brand h2,
b {
  color: rgb(26, 190, 190);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}
header small {
  color: white;
  font-size: small;
}
header .currency button {
  background-color: rgb(65, 71, 78);
  opacity: 0.9;
  padding: 0.5rem;
  outline: none;
  outline-color: none;
  margin: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  border: none;
}
header .social_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .social_links .telegbtn {
  padding: 0.5rem;
  background-color: rgb(26, 190, 190);
  color: ghostwhite;
  border: none;
  outline: none;
  outline-color: none;
  margin: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.2s ease-in-out;
}
header .social_links .telegbtn:hover {
  background-color: rgb(22, 146, 146);
}
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  cursor: pointer;
  background-color: rgb(65, 71, 78);
  transition: 0.4s ease-in-out;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  top: 3.5px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  border-radius: 100%;
  transition: 0.4s ease-in-out;
}

input:checked + .slider:before {
  background-color: cyan;
  transform: translateX(23px);
}

.main {
  position: relative;
  background-color: rgb(12, 8, 27);
  padding: 1rem;
  color: white;
  margin-top: 0.2rem;
}
.content-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
  min-width: 400px;
  border-radius: 15px 15px 0 0;
}

.content-table thead tr {
  text-align: left;
  color: lightslategray;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  background-color: rgb(62, 65, 68);
  border-bottom: 0.5rem solid rgb(12, 8, 27);
  border-top: 0.5rem solid rgb(12, 8, 27);
  border-left-color: 1rem;
  border-right-radius: 1rem;
}
/*
.content-table tbody tr:nth-of-type(even) {
  background-color: rgb(62, 65, 68);
  border-radius: 5rem;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid white;
}
*/
.content-table tbody tr:hover {
  cursor: pointer;
  background-color: rgb(49, 53, 58);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: cyan;
}
